.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 2px 3px 10px rgb(184, 184, 184);

  @media (max-width: 500px) {
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.big__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & .register-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    height: auto;
  }
}

/* Sign Up */
#main-title {
  text-align: center;
  font-size: 25px;
  padding: 30px 30px 10px 30px;
  font-weight: 700;
  color: rgb(20, 20, 20);
}

#subtitle {
  text-align: center;
  font-size: 14px;
  color: rgb(70, 70, 70);
}

.register-form {
  padding: 20px 40px;

  & input {
    width: 100%;
    height: 35px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 0 10px;

    font-size: 14px;
    color: rgb(70, 70, 70);
  }

  & input:focus {
    outline: none;
  }

  & input[type='checkbox'] {
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: rgb(70, 70, 70);
  }

  & label {
    font-size: 14px;
    color: rgb(70, 70, 70);
    line-height: 1.5;
  }

  & .text-muted {
    color: red;
  }
  & .placeholders {
    margin-bottom: 1rem;
  }

  & .terms-conditions {
    margin-top: 1rem;
    font-size: 14px;
    color: rgb(70, 70, 70);
    line-height: 1.5;
  }

  @media (max-width: 500px) {
    padding: 20px 20px;
  }
}

#a-submit {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px 30px 10px 30px;
  font-family: 'Montserrat', 'sans-serif';
  border: 1px solid rgb(27, 233, 112);
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  color: rgb(27, 233, 112);
  font-weight: 700;
  -webkit-transition: all 0.43s ease;
}

#a-submit:hover {
  border: 1px solid rgb(27, 233, 112);
  background-color: rgb(27, 233, 112);
  color: white;
  width: 50%;
}

#a-submit:active {
  width: 40%;
}

.login-link {
  text-align: center;
  font-size: 13px;
  color: blue;
}
.login-btn {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 13px;
  color: rgb(70, 70, 70);
}
